/* Code */
$dj-code-font-color:                                     $dj-color-8;
$dj-code-font-size:                                      $dj-normal-font-size;
$dj-code-border-radius:                                  $dj-border-radius;
$dj-code-background-color:                               $dj-gray-e;
$dj-code-alternate-color:                                $dj-white;
$dj-code-border-color:                                   $dj-border-color;
$dj-code-border-width:                                   $dj-border-width;
$dj-code-border-style:                                   $dj-border-style;
$dj-code-block-list-style:                               none;
$dj-code-block-numbered-list-style:                      decimal;
$dj-code-comment-font-color:                             $dj-base-font-color;
$dj-code-numbered-margin:                                $dj-ol-margin;
$dj-code-line-height:                                    1.3;

//Code shadow
$dj-code-shadow-color:                                   $dj-shadow-color;
$dj-code-shadow-horizontal-offset:                       $dj-shadow-horizontal-offset;
$dj-code-shadow-vertical-offset:                         $dj-shadow-vertical-offset;
$dj-code-shadow-blur:                                    $dj-shadow-blur;
$dj-code-shadow-spread:                                  $dj-shadow-spread;
$dj-code-shadow-inset:                                   false;
