/* Animations variables */
$dj-animation-duration:                                  1s; // defualt duriation used in animations
$dj-animation-duration-fast:                             0.5s;
$dj-animation-duration-slow:                             1s;