/* Footer */
$dj-footer-background-color:                           $dj-gray-5;
$dj-footer-color:                                      $dj-gray-e;
$dj-footer-font-size:                                  $dj-small-font-size;