/* Helpers variables */

$dj-round:                                               100%;
$dj-rounded:                                             100%;
$dj-round-button-unit:                                   $dj-9-r;
$dj-pill:                                                $dj-1-r;
$dj-block:                                               100%;

//shadows
$dj-shadow-color:                                         $dj-gray-6;
$dj-shadow-horizontal-offset:                             1px;
$dj-shadow-vertical-offset:                               1px;
$dj-shadow-blur:                                          5px;
$dj-shadow-spread:                                        false;
$dj-shadow-inside:                                        false;