/* Media variables */
$dj-img-display:                                          inline-block;
$dj-img-height:                                           auto;
$dj-img-max-width:                                        100%;

$dj-thumbnail-padding:                                    $dj-padding-1t;
$dj-thumbnail-line-height:                                $dj-3-r;
$dj-thumbnail-background-color:                           $dj-white;
$dj-thumbnail-border-width:                               $dj-border-width;
$dj-thumbnail-border-style:                               $dj-border-style;
$dj-thumbnail-border-color:                               $dj-gray-7;