/* Sliding menus theming variables */

$dj-sliding-menus-nav-background-color:                     $dj-gray-7;
$dj-sliding-menus-nav-width:                                200px;
$dj-sliding-menus-nav-z-index:                              99999;

$dj-sliding-menus-view-z-index:                             2;
$dj-sliding-menus-view-width:                               $dj-02-r;
$dj-sliding-menus-view-background-color:                    $dj-background-color;
$dj-sliding-menus-view-margin-left:                         $dj-sliding-menus-nav-width;

$dj-sliding-menus-bar-background-color:                     $dj-gray-7;
$dj-sliding-menus-bar-height:                               $dj-4-r;