/* Navigain minxins */

//stardard navigation

@mixin dj-nav-active-base {
  border-color:                                     $dj-nav-active-border-color;
  color:                                            $dj-nav-active-font-color;
  background-color:                                 $dj-nav-active-background-color;
}

@mixin dj-nav-active {
  &:visited {
    @include dj-nav-active-base;
  }
}

@mixin dj-nav-base {
  margin:                                                 0;
  padding:                                                0;
  font-size:                                              0;
  background-color:                                       $dj-nav-backgroud-color;
  li {
    zoom: 1;
    height:                                               inherit;
    a {
      @include border-radius(0);
      margin:                                             0;
      margin-right:                                       -1px;
      font-size:                                          $dj-nav-size;
      border:                                             $dj-nav-border-width $dj-nav-border-style $dj-nav-border-color;
      @if $dj-gradiants {
        @include dj-gradients (transparent, transparent);
      }
      @else {
        background-color:                                 transparent;
      }
      &:hover{
        color:                                            $dj-nav-link-font-color;
      }
      &:hover {
        border-bottom:                                    $dj-nav-border-width $dj-nav-border-style $dj-nav-hover-border-color;
      }
      &:active {
        @include dj-nav-active-base;
      }
    }
  }
}

@mixin dj-nav-sub-menu {
  ul {
    z-index:                                              10;
    display:                                              none;
    position:                                             absolute;
    border:                                               $dj-border-width $dj-nav-border-style $dj-border-color;
  }
  li {
    ul li {
      display:                                            block;
      margin:                                             $dj-margin;
    }
    &:hover > ul {
      display:                                            block;
    }
  }
}



@mixin dj-nav{
	height:                                                 $dj-nav-height;
  line-height:                                            $dj-nav-line-height;
	ul {
    @include dj-nav-sub-menu;
    @include dj-nav-base;
    display:                                              inline;
    float:                                                left;
     li{ white-space: nowrap;
      vertical-align:                                     $dj-nav-vertical-align;
      margin:                                             $dj-nav-margin / 2;
      display:                                            inline-block;
      *display:                                           inline;
      &:first-child{
        margin-left:                                      $dj-nav-margin;
      }
      &:last-child {
        margin-right:                                     $dj-nav-margin;
      }
    }
  }
}

//stacked navigation
@mixin dj-nav-stack-base {
  ul {
    @include dj-nav-base;
    li {
      display:                                            block;
      margin-bottom:                                      $dj-pill-margin-bottom;
    }
  }
}

@mixin dj-nav-stack {
  @include dj-nav-stack-base;
	ul {
		margin:                                               0;
    @include dj-nav-stack-sub-menu;
	}
}

@mixin dj-nav-stack-sub-menu {
  ul li {
    margin-left:                                          $dj-nav-sub-menu-margin;
  }
}

//pill navigation base
@mixin dj-nav-pill-base {
  ul li {
    a, a:link, a:visited {
      @include dj-pill;
      padding:                                            $dj-nav-pill-padding;
      border:                                             $dj-nav-pill-border-width;
      &:hover {
        color:                                            $dj-nav-stacked-hover-font-color;
        background-color:                                 $dj-nav-stacked-hover-backgroud-color;
      }
    }
  }
}

//pill navigation
@mixin dj-nav-pill {
  @include dj-nav;
	@include dj-nav-pill-base;
}

//stacked pill navigation
@mixin dj-nav-pill-stack {
	@include dj-nav-stack;
	@include dj-nav-pill-base;
}